.content {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  height: 500px;
  position: relative;
}

.head {
  display: flex;
  margin: auto;
  text-align: center;
  width: fit-content;
  align-items: center;
  font-weight: bold;
}

.input-text {
  display: flex;
  margin-top: 10px;
  margin-bottom: 24px;
}

.input {
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.btn-add {
  background-color: teal;
  border: 1px solid teal;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 16px 2px 16px;
}

.btn-add:hover {
  border: 1px solid white;
}

.list-text {
  display: flex;
  margin-bottom: 10px;
}

.text {
  flex: 1;
  text-align: left;
  padding-left: 4px;
  font-size: 14px;
}

.btn-delete {
  border: 1px solid rgb(170, 46, 46);
  background-color: rgb(170, 46, 46);
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 10px 2px 10px;
}

.btn-delete:hover {
  border: 1px solid white;
}

.logo {
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
