.content {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  height: 500px;
}

.btn-action {
  display: flex;
}

.undo, .redo, .clear {
  border: 1px solid rgb(202, 177, 66);
  background-color: rgb(202, 177, 66);
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 14px;
}

.redo {
  border: 1px solid rgb(46, 170, 102);
  background-color: rgb(46, 170, 102);
  margin-left: 8px;
}

.clear {
  border: 1px solid rgb(170, 46, 46);
  background-color: rgb(170, 46, 46);
  padding: 2px 40px;
  margin-left: 8px;
}

.undo:hover, .redo:hover, .clear:hover {
  border: 1px solid white;
}

.head-log {
  display: flex;
}

.text-head{
  text-align: left;
  margin-top: 16px;
  width: 100px;
}

.list {
  text-align: left;
  display: flex;
  border: 2px solid #282c34;
}

.head-log {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}


.value, .value2 {
  margin-bottom: 6px;
  font-size: 12px;
  width: 100px;
}

.value2 {
  width: auto;
}

.active {
  border: 2px solid rgb(170, 46, 46);
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}