.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
}

